<!-- Describe task in general -->

<p><i>
Цією місією я хочу почати серію місій з лампочками. Вони допоможуть вам зрозуміти концепцію процесів і оцінку ефективності процесів. Замість лампочок у реальному житті може стояти техніка, ефективність якої треба розраховувати, або працівники, які ходять на роботу, і їм треба розраховувати зарплату.
</i></p>

<p>
    Перша місія досить проста. Є лампочка, яка за замовчуванням вимкнена, і кнопка, при натисканні на яку лампочка перемикає свій стан. Це означає, що якщо лампочка вимкнена і натиснута кнопка, світло вмикається, а якщо натиснути ще раз, то вимикається.
</p>

<p class="for_info_only"><i>(Все легко. Я впевнений, що якщо ти потрапив на цю місію, ти маєш це зрозуміти, але про всяк випадок я додаю візуальне зображення.)</i></p>

<p style="text-align: center;" class="for_info_only">
    <img  title="example" src="{{MEDIA}}composition.gif" alt="example" style="max-height: 400px"/>
</p>

<p>Вхід функції - це {% if is_js %}масив з Date об'єктами{% else %}список з datetime об'єктами{% endif %} - це дата і час натискання кнопки. Твоє завдання визначити, скільки часу горить лампочка.</p>


<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані: </strong> {% if is_js %}Масив з Date об'єктами{% else %}Список з datetime об'єктами{% endif %}.
</p>

<p>
    <strong>Вихідні дані: </strong> Секунди роботи лампочки (ціле число).
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

{% if interpreter.slug == "js-node" %}
<pre class="brush: javascript">sumLight([
    new Date(2015, 1, 12, 10, 0 , 0),
    new Date(2015, 1, 12, 10, 10 , 10),
]) == 610

sumLight([
    new Date(2015, 1, 12, 10, 0 , 0),
    new Date(2015, 1, 12, 10, 10 , 10),
    new Date(2015, 1, 12, 11, 0 , 0),
    new Date(2015, 1, 12, 11, 10 , 10),
]) == 1220

sumLight([
    new Date(2015, 1, 12, 10, 0 , 0),
    new Date(2015, 1, 12, 10, 0 , 1),
]) == 1
</pre>
{% else %}
<pre class="brush: python">sum_light([
    datetime(2015, 1, 12, 10, 0 , 0),
    datetime(2015, 1, 12, 10, 10 , 10),
]) == 610

sum_light([
    datetime(2015, 1, 12, 10, 0 , 0),
    datetime(2015, 1, 12, 10, 10 , 10),
    datetime(2015, 1, 12, 11, 0 , 0),
    datetime(2015, 1, 12, 11, 10 , 10),
]) == 1220

sum_light([
    datetime(2015, 1, 12, 10, 0 , 0),
    datetime(2015, 1, 12, 10, 0 , 1),
]) == 1
</pre>
{% endif %}
</div>

<p>
    <strong>Передумова:</strong>
</p>
<ul>
	<li><i>{% if is_js %}Масив{% else %}Список{% endif %} натискання кнопки завжди сортується за зростанням</i></li>
	<li><i>{% if is_js %}Масив{% else %}Список{% endif %} натискання кнопки не має повторюваних елементів (тобто результат завжди повинен бути більше 0)</i></li>
	<li><i>Кількість елементів завжди парна (світло з часом вимикається)</i></li>
	<li><i>Мінімальна можлива дата - 01.01.1970</i></li>
	<li><i>Максимальна можлива дата 9999-12-31</i></li>
</ul>
